@use "./helpers/styles/mixins" as mixins;
@use "./helpers/styles/media_variables" as media;

.app {
  display: flex;
  margin: 0 2%;
  padding: 20px;
  background-color: var(--white);
  border-radius: 2em;
  line-height: 1.5;

  @media (max-width: media.$smallWidth) {
    font-size: 12px;

    @media (max-width: media.$mobileWidth) {
      flex-direction: column-reverse;
      padding: 0;
      border-radius: 0;
      margin: 0;

      @media (max-width: media.$smallWidth) {
        font-size: 14px;
      }
    }
  }
}

.app__left {
  padding: 60px 30px 60px 40px;

  @media (max-width: media.$smallWidth) {
    padding: 15px 30px 15px 15px;

    @media (max-width: media.$mobileWidth) {
      padding: 30px 30px 20px 30px;
      height: 50%;
    }
  }

  .app__left__title {
    font-size: 50px;
    margin-bottom: 20px;

    @media (max-width: media.$smallWidth) {
      font-size: 34px;

      @media (max-width: media.$mobileWidth) {
        font-size: 40px;
      }
    }
  }

  .app__left__text {
    margin-bottom: 20px;

    @media (max-width: media.$smallWidth) {
      font-size: 14px;

      @media (max-width: media.$smallWidth) {
        font-size: 16px;
      }
    }
  }

  .app__left__list {
    margin-bottom: 50px;

    @media (max-width: media.$mobileWidth) {
      margin-bottom: 30px;
    }

    li {
      margin-bottom: 10px;
      padding-left: 35px;
      background: url("../public/icon-list.svg") no-repeat 0 2px;
      background-size: 19px;

      @media (max-width: media.$smallWidth) {
        background-size: 14px;
        padding-left: 27px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .app__left__form {
    width: 92%;

    @media (max-width: 950px) {
      width: 100%;
    }

    @include mixins.error__field();
  }
}

.app__right {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: media.$smallWidth) {
    justify-content: right;
    align-items: flex-start;
  }

  .img__desktop {
    @media (max-width: media.$smallWidth) {
      width: 287px;

      @media (max-width: 675px) {
        width: 310px;

        @media (max-width: media.$mobileWidth) {
          display: none;
        }
      }
    }
  }

  .img__mobile {
    display: none;
    width: 100%;

    @media (max-width: media.$mobileWidth) {
      display: block;
    }
  }
}
