@use "fonts";
@use "variables";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--dark-slate-grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--charcoal-grey);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

input,
button {
  border: none;
  background: none;
  outline: none;
  font-family: "Roboto";
}

button {
  cursor: pointer;
}